body {
	background-color: #DADADA;
}


h3{
	margin: 6px;
}

/*class for button*/
button{	
    box-shadow: 0 -3px 0 0 rgba(34,36,38,.15) inset;
    border: 1px solid rgba(34,36,38,.15);
	border-radius: 5px;
	padding: 7px 11px 8.5px;
	font-size: 10px; 
}


/*class for green-button*/
button.green-button{
	border-radius: 50%;
	background-color: #21BA45;
	color: #fff;
}

/*class for red-button*/
button.red-button{
	border-radius: 50%;
	background-color: #ca1010;
	color: #fff;
}

/*class for delete button*/
button.delete{
	background-color: #ca1010;
	color: #fff;
}

/*class for delete button*/
.delete{
	margin-left: 2px;	
}


/*class for all page*/
.page {
	padding: 2.5%;
}



/*class for putting elements in one*/
.inline {
	display: inline-block;
}

/*class for main box*/
.main-box{
	width: 37%;
	float: left;
	padding-right: 1%;
}

/*class for second box*/
.second-box{
	width: 20%;
	padding-left: 1%;
}

/*class for part of list*/
.part{
	border: 1px solid rgba(34,36,38,.18);
	padding: 10px;
	background-color: #FFF;
}

/*class for container border*/
.container{
	width: 100%;
	border: 1px solid rgba(34,36,38,.15);
}

/*class for list of products*/
.list{
	display: inline-flex;
	width: 100%;
	padding-left: 0;
	padding-right: 0;
}

/*class for no border of form*/
.container.no-border{
	border: none;
}


/*class for input form*/
input{
    width: 100%;
	border: 1px solid rgba(34,36,38,.15);
	border-radius: 8px;
    padding: 9px 14px;
}



/*class for add button*/
.add-button{
	float: right;
	border: 1px solid rgba(34,36,38,.15);
	border-radius: 5px;
    padding: 11px 14px;
	background-color: #2185D0;
	color: #fff;
    font-weight: bold;	
}


/*class for item name*/
.name{
    display: block;
    overflow: hidden;
}


.item-name-field{
    border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-right-color: transparent;
}


/*class for text of number*/
.label{
	margin: 3px;
	border: 0 solid transparent;
	padding: 8px;
	background-color: #E8E8E8;
	font-size: 12px;
	display: inline-block;

}


.product{
	float: left;
	margin: auto;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}


/*class for product-name*/
.product-name{
	width: 25%;
	align-items: left;
	justify-content: left;
	padding-left: 10px;
}


/*class for green and red buttons*/
.green-red-buttons{
	width: 80%;
	align-content: center;
}


/*class for bought and delete buttons*/
.buy-del-buttons{
	width: 30% ;
	align-content: right;
}



/*class for unbuy buttons*/
.unbuy-buttons{
	width: 75%;
	align-content: right;
}


/*class for mark with number in second-box*/
.mark{
	border-radius: 50%;
	background-color: #F2711C;
	border-color: #F2711C;
	color: #FFF;
	padding: 1px;
	padding-left: 5px;
	padding-right: 5px;
	margin-left: 4px;
}


/*class which makes text crossed*/
.strike {
	text-decoration: line-through;
}


/*class for hiding buttons*/
.hidden {
	display: none;
}







